<template>
    <div>
        <p>{{value}}</p>
    </div>
</template>

<script>
    export default {
        name: 'Button',
        props: {
            value: String,
        }
        
    }
</script>

<style scoped>

p {
    margin:auto;
    text-align: center;
}

</style>