<template>
    <div>
        {{value}}
    </div>
</template>

<script>
    export default {
        name: "Screen",
        props : {
            value: String
        }
    }
</script>

<style scoped>

</style>