<template>
  <div id="app">
  <h1>Calculatrice VueJs</h1>
    <div class="wrapper-calculette">
    <Screen class="screen" :value="result"/>
    <div class="buttons">
        <Button v-for="operator in operators"
          :key="operator" :value="operator" class="button" @click.native="clickOperator(operator)"/>
        <Button v-for="number in numbers"
          :key="number" :value="number" class="button" @click.native="clickNumber(number)"/>
        <Button v-for="action in actions"
          :key="action" :value="action" class="button" @click.native="clickAction(action)"/>
      </div>
    </div>
  </div>
</template>

<script>
import Screen from './components/Screen.vue'
import Button from './components/Button.vue'

export default {
  name: 'app',
  components: {
    Screen,
    Button
  },
  data () {
    return {
      numbers : ['1','2','3','4','5','6','7','8','9','0'],
      operators : ['+','-','*',"/"],
      actions : ['C', '='],
      result : '0',
      last_value : null,
      current_operator : null,
    }
  },
  computed : {
    parseResult() {
      return parseFloat(this.result)
    }

  },
  methods : {
    clickNumber (number) {
      if (this.last_value == null) {
        this.last_value = this.result
        this.result = '0'
        this.result = parseFloat(this.result + number).toString();
      }
      else {
        this.result = parseFloat(this.result + number).toString();
      }
    },
    clickOperator(operator) {
      if (this.current_operator !== null) {
          this.updateresult()
          this.last_value = null
          this.current_operator = operator

      }
      else {
        this.last_value = this.result
        this.result = '0'
        this.current_operator = operator

      }
   },
   clickAction(action){
     var boutonAction = action
     if (boutonAction != '=') {
       this.result = '0'
       this.last_value = null
       this.current_operator = null
     }
     else {
       this.updateresult()
       this.last_value = null
       this.current_operator = null
     }
   },
    updateresult() {
      //console.log('updateresult')
      switch (this.current_operator) {
        case '+' :
        this.result = parseFloat(this.last_value) + parseFloat(this.result);
        break;
        case '-' :
        this.result = this.last_value - this.result;
        break;
        case '*' :
        this.result = this.last_value * this.result;
        break;
        case '/' :
        this.result = this.last_value / this.result;
        break;
      }
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
h1 {
  text-align: center;
  font-size: 1.5em;
}
.screen {
  padding: 10px;
  margin: 20px 0;
  text-align: left;
  border:1px solid #CCC;
  background-color: #ECECEC;
}
.wrapper-calculette {
  width: 215px;
  margin: 0 auto;
  border: 1px solid #CCC;
  padding: 10px 20px;
}
.button {
  display: inline-block;
  border:1px solid #CCC;
  background-color: #ECECEC;
  box-shadow : -1px 1px 1px grey;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  line-height:40px;
  margin: 5px;
}

.button:hover {
  background-color: darkgrey;
  cursor: pointer;
  user-select: none;
}
</style>
